body{
    font-family: monospace;
}

ul{
    font-family:  helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
 

  .light-theme {
    transition:  all linear 0.5s;
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    
  }
  

  :root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
  }



  .dark-theme {
     transition:  all linear 0.5s;
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  
  
  * {
    transition:  all linear 0.5s;
    color: var(--fontColor);
    font-family: helvetica;
  }
  
  body {
      background: var(--bg);
  }

  .btn {
    transition: all linear 0.4s;
    position: absolute;
    top: 20px;
    left: 700px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn:hover{
    background-color: darkgrey;
  }

  .btn2 {
    transition: all linear 0.4s;
    position: absolute;
    top: 20px;
    left: 800px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn2:hover{
    background-color: darkgrey;
  }

  .btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  .btn:focus { outline-style: none; }
  .btn2.focus{ outline-style: none;}

  .topMenu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #ffffff;
    display: none;
  }

  .topMenu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }

    .topMenu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.topMenu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

